.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
.bigInner{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height:60px;
    margin-bottom: 0;
    position: relative;
}

#playerTurn{
    margin-left:20px;
    background-color: deepskyblue;
    height:50px;
    width:150px;
    font-size: 18px;
    color: white;
    text-align: center;
    display: none;
    position:absolute;
    bottom:0;
}

#player2Turn,#compTurn{
    margin-right:20px;
    background-color: palevioletred;
    height:50px;
    width:150px;
    font-size: 18px;
    color: white;
    text-align: center;
    display: none;
    position:absolute;
    bottom:0;
    right:0;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 400px;
    border: 25px solid #FFBD9C;
    border-radius: 5%;
    box-shadow: 1px 5px 10px 4px #888888;
    text-align: center;
    background-color: #FFBD9C;
    overflow: hidden;
}

.box {
    height: 330px;
    width: 330px;
    padding: 20px;
    color: white;
    background: radial-gradient(#006600, #004A00, #003300);
    text-align: center;
    position: relative;
}

.hide {
    display: none;
}

.selectBtn {
    border: none;
    background-color: inherit;
    color: darkgray;
    padding: 0 10px 0 10px;
    line-height: 0;
    font-size: 20px;
}

.selectBtn:hover{
    text-decoration: underline;
}

.reset{
    border: none;
    background-color: inherit;
    color: black;
    font-size: 14px;
}

.reset:hover{
    text-decoration: underline;
}

.table{
    border-collapse: collapse;
    margin: 10px;
    border-style: hidden;
}

.cell {
    width:100px;
    height:100px;
    border: 1px solid white;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.disabledCell{
    pointer-events: none;
}

.disabledTable{
    pointer-events: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

#result{
    position: absolute;
    padding: 20px;
    height: 330px;
    width: 330px;
    line-height: 330px;
    color: white;
    text-align: center;
    top: 0;
    left: 0;
}

.score{
    width: 330px;
    height:15px;
    font-size: 14px;
    text-align: left;
}

body {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
