.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 400px;
    border: 25px solid #FFBD9C;
    border-radius: 5%;
    box-shadow: 1px 5px 10px 4px #888888;
    text-align: center;
    background-color: #FFBD9C;
    overflow: hidden;
}

.box {
    height: 83%;
    padding: 20px;
    color: white;
    background: radial-gradient(#006600, #004A00, #003300);
    text-align: center;
}

.hide {
    display: none;
}

.selectBtn {
    border: none;
    background-color: inherit;
    color: darkgray;
    padding: 0 10px 0 10px;
    line-height: 0;
    font-size: 20px;
}

.selectBtn:hover{
    text-decoration: underline;
}

span{
    padding-right: 5px;
}

.reset{
    color: black;
}

.reset:hover{
    text-decoration: underline;
}

.table{
    border-collapse: collapse;
    margin: 10px;
    border-style: hidden;
}

.cell {
    width:100px;
    height:100px;
    border: 1px solid white;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

body {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
